@charset "UTF-8";

* {
    margin: 0%;
    padding: 0%;
}

body {
    background-image: url("site\ barbearia/"); 
}

header {
    background-color: rgb(255, 255, 255);
    /*box-shadow: inset 4px -11px 10px 1px  rgb(0, 0, 0);*/

}

picture#logo {
    display: flex;
    justify-content: center;

}

picture img {
    width: 280px;
}

nav {
    padding-top: 100px;
    font-size: larger;
}

a.linkheader{
    color: rgb(255, 0, 0);
    text-decoration: none;
    font-size: larger;
    display: flex;
    flex-direction: column;
}

a.linkheader:hover {
    text-decoration: underline;
    color: rgb(0, 0, 255);
}

section#apresentação {
    background-image: url();
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;

}

main {
    background-color: white;
    display: inline;
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    background-image: linear-gradient(to left, rgb(255, 0, 0), rgb(0, 0, 255));
    font-variant: small-caps;
    padding: 5px ;
}

#apresentação img {
    width: 450px;
    margin-top: 10px;
    border-radius: 10px;
}

@media (min-width: 670px) {
    #apresentação img{
        width: 650px ;
    }   
} 