@charset "UTF-8";

* {
    margin: 0%;
    padding: 0%;
}

body {}

header {
    background-color: rgb(255, 255, 255);
    /*box-shadow: inset 4px -11px 10px 1px  rgb(0, 0, 0);*/
}

picture#logo {
    display: flex;
    justify-content: center;

}

picture img {
    width: 280px;
}

nav {
    padding-top: 100px;
    font-size: larger;
}

a.linkheader {
    color: rgb(255, 0, 0);
    text-decoration: none;
    font-size: larger;
    display: flex;
    flex-direction: column;
}

a.linkheader:hover {
    text-decoration: underline;
    color: rgb(0, 0, 255);
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    background-image: linear-gradient(to left, rgb(255, 0, 0), rgb(0, 0, 255));
    font-variant: small-caps;
    padding: 5px;
}
