@charset "UTF-8";

                                  /*SITE SIMPLES*/                      

* {
    margin: 1%;
    padding: 0%;
    text-decoration: none;
    box-sizing: border-box;
}

.cabeçalho {
    background-color: rgb(114, 109, 109);
    display: flex;
    border-radius: 165px;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
   
}

.cabeçalho-logo {
    width: 150px;
    height: 110px;
}

.cabeçalho-menu-ancora {
    display: flex;
    gap: 25px;
}

.cabeçalho-ancora {
    color: rgb(255, 255, 255);
    font-weight: lighter;
    font-size: 1.2rem;
}

.cabeçalho-ancora:hover {
   
    font-size: 1.8rem;
    transition: 0.3s;
    text-decoration: underline;
    color: rgb(0, 0, 0);
}

body {
   background-image: url(imagens/fundo01.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-size: 1.1em;

}

main {
    text-align: center;
    color: white;
}
h1 {
    margin: 20px 0px 20px 0px;
}


.container01 {
    display: flex;
    justify-content: center;
    text-align: justify;
    

}

.box02 {
    width: 350px;

}

.container02 {
    display: flex;
    justify-content: space-around;
    text-align: justify;
}

@media (max-width: 708px) {
    .container02 {
        flex-direction: column;
        align-items: center;
    }
}


.box01 {
    width: 200px;
    padding: 15px;
}

.subtitulos {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;

}

footer {
color: white;
border-radius: 165px;
background-color:  rgb(114, 109, 109);
text-align: center;
}

.footera
{
    color: black;
}
.footera:hover
{
color: aqua;
}